* {
  box-sizing: border-box;
}
header{
	margin: 25px;
	text-align: center;
	font-size: 35px;
	font-family: serif;
	color:black;
}
div{
	margin: 10px;
	position: relative;
	background-color: lightblue;
}

#C{
position: relative;
float: right;
margin: 0px;
border: 2px solid red;
background-color: lightgray;
width: 250px;
text-align: center;
}
#B{
position: relative;
float: right;
margin: 0px;
border: 2px solid red;
background-color: lightpink;
width: 250px;
text-align: center;
}

#S{
position: relative;
float: right;
margin: 0px;
border: 2px solid red;
background-color: lightgoldenrodyellow;
width: 250px;
text-align: center;
}

p{
	margin-top: 50px;
	padding: 15px;
	font-family: Helvetica;
}

.row{
	width: 100%;
}

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		border: 2px solid black;
	}
	.col-lg-4{
		width: 30%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		border: 2px solid black;
	}
	.col-md-6{
		width: 47%;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		float: left;
		border: 2px solid black;
	}
	.col-sm-12{
		width: 97%;
	}

}



